.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.line{ 
    display: none;
    width: 100px;
    height: 3px;
    background: #F29C1F;
    border-radius: 3px;
    border: none;
}

.content{ 
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}