.item{
  width: 198px;
  height: 198px;
  border-radius: 50%;
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  &_yellow{
   
    background: (135, 124, 26, 0.52);
  }
  &_orange{
     margin-top: 60px;
    background:rgba(168, 109, 26, 0.52);
  }
}