.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  background: rgba(0, 0, 0, 0.35);

  &_wrapper {
    padding: 12px 0;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_left {
    display: flex;
    align-items: center;
    column-gap: 136px;
    &_logo {
      width: 110px;
      height: 50px;
    }
    &_nav {
      display: flex;
      column-gap: 21px;
      font-family: "IBM Plex Mono", monospace;
    }
  }

  &_right {
    display: flex;
    column-gap: 42px;
    align-items: center;
    &_button {
      transition-duration: 0.4s;
      padding: 8px 12px;
      background: none;
      border: 1px solid #ffea32;
      border-radius: 12px;
      font-weight: 400;
      font-size: 16px;
      color: #ffea32;
      // font-family: "Urbanist", sans-serif;
      font-family: "IBM Plex Mono", monospace;
      &:hover {
        color: #000;
        background: #ffea32;
        transition-duration: 0.6s;
      }
    }
    &_social {
      list-style: none;
      display: flex;
      column-gap: 18px;
      
      &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #ffea32;
        border-radius: 50%;
        &_link {
          width: 20px;
          height: 20px;
          
        }
        path {
          transition-duration: 0.4s;
          //fill:#b6ac4d;
        }
        &:hover {
          path {
            transition-duration: 0.6s;
            //fill:#FFEA32;
          }
        }
      }
    }
  }
  &_bottom {
    padding: 12px;
    width: calc(100% - 24px);
    border-top: 1px solid #ffea32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
    &_nav {
      display: flex;
      column-gap: 21px;
      &_item {
        position: relative;
        padding-bottom: 2px;
        transition-duration: 0.4s;
        font-family: "Urbanist", sans-serif;
        text-decoration: none;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        &:hover {
          transition-duration: 0.6s;
          color: #ffea32;
          &::before {
            transition-duration: 0.6s;
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            top: 18px;
            left: 0;
            background: #ffea32;
          }
        }
      }
    }
    &_btns{
      display: flex;
      align-items: center;
      column-gap:14px;
      &_languages{
        display: flex;
        column-gap:8px;
        &_item{
          cursor: pointer;
          width: 22px;
          height: 22px;  
          border: none;
          background: none;
        }
      }
      &_item{
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        //background:#FFF;
        border-radius:50%;
        &_img{
          width: 18px;
          height: 18px;
        }

      }
    }
  }
}

@media screen and (max-width: 475px) {
  .header {
    height: auto;
    padding: 10px 0;
    &_wrapper {
      max-width: 450px;
      margin: 0 auto;
    }
    &_left {
      &_logo {
        width: 80px;
        height: 38px;
      }
      &_nav {
        display: none;
      }
    }
    &_right {
      column-gap: 20px;
      &_button {
        &_tracking{ 
          display: none;
        }    
      }
      &_social {
        column-gap: 10px;
        &_item {
          path {
            //fill:#b6ac4d;
          }
        }
      }
    }
    &_bottom{
      max-width: 450px;
      flex-direction: column;
      align-items:flex-end;
      row-gap: 10px;
      &_nav{
        width: 100%;
        column-gap:0;
        justify-content: space-between;
        &_item{
          font-size: 10px;
        }
      }
      &_btns{
        &_item{
          display: none
        }
      }
    }
  }
}

@media screen and (min-width: 476px) and (max-width: 768px) {
  .header {
    &_wrapper {
      justify-content: space-around;
    }
    &_left {
      &_nav {
        display: none;
      }
    }
    &_right {
      column-gap: 82px;
      &_social {
        &_item {
          path {
            //fill:#b6ac4d;
          }
        }
      }

      &_button {
        //order: 2;
      }
    }
    &_bottom{
      width: calc(100% - 24px);
      &_btns{
        &_languages{
          column-gap:20px;
        }
        &_item{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
}
@media screen and (min-width: 1441px) {
}
