.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 6px;
  width: 35%;
  &_big {
    width: 80%;
  }
  &_text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }
  &_input {
    padding-left: 15px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    &::placeholder {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #817f7f;
    }
    &:focus {
      outline: none;
    }
  }
  &_check{ 
    display: flex;
    column-gap: 5px;
    align-items: center;
    &_text{ 
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: #FFF;
    }
    &_input{ 
      accent-color: #ffea32;
    }
  }
}

.error {
  outline: 2px solid #ff0101;
}

.errorText {
  padding: 4px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: #ff010164;
  color: #fff;
  border-radius: 10px;
}


@media screen and (max-width:768px) {
  .item{
    width: calc(90% - 15px);
    margin: 0 auto;
    &_input{ 
      padding: 0 0 0 15px;
    }
  }
}